/* 层叠公共样式中不一样的部分 */
.connent .hot-company .detail ul li{
    width: 260px;
    height: 248px;
    padding: 20px 13px 0;
}
/* 列表内的样式部分 */
.connent .hot-company .detail ul li .top{
    width: 260px;
    height: 181px;
    border-bottom: 1px dashed #e0e0e0;
    text-align: center;
    line-height: 24px;
}
.connent .hot-company .detail ul li .top .company-logo{
    margin-bottom: 13px;
    height: 80px;
}
.connent .hot-company .detail ul li .top .company-logo img{
    width: 80px;
    height: 80px;
}
.connent .hot-company .detail ul li .top h4{
    font-size: 16px;
}
.connent .hot-company .detail ul li .top h4 a{
    color: #333333;
}
.connent .hot-company .detail ul li .top .labels{
    margin-bottom: 3px;
    color: #999;
}
.connent .hot-company .detail ul li .top p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.connent .hot-company .detail ul li .bottom{
    height: 30px;
    margin-top: 17px;
    text-align: center;
}
.connent .hot-company .detail ul li .bottom a{
    float: left;
    height: 30px;
    width: 76px;
    border-right: 1px solid #ededed;
}
.connent .hot-company .detail ul li .bottom a .name{
    font-size: 12px;
    line-height: 12px;
}
.connent .hot-company .detail ul li .bottom a .data{
    margin-bottom: 4px;
    line-height: 14px;
    color: #00B3A7;
}
.connent .hot-company .detail ul li .bottom a.item2{
    width: 89px;
}
.connent .hot-company .detail ul li .bottom a.item3{
    width: 93px;
    border-right: 0;
}

