// 首页的css样式

// 导入公共的common.less文件 
@import 'common';

// body的样式
body{
    min-width: 320px;
    width: 15rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica,sans-serif;
    background: #f2f2f2;
}
// 后续的尺寸都需要使用 rem 单位
@basefont:50px;

// top-banner区域
.top-banner{
    position: relative;
    width: (750rem / @basefont);
    height: (100rem / @basefont);
    .top-banner-img{
        display: block;
        width: 100%;
        height: 100%;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .close{
        position: absolute;
        left: 0.1rem;
        top: 0.5rem;
        width: (50rem / @basefont);
        height: (50rem / @basefont);
        background: url(../images/close.png) no-repeat center center;
        background-size: (30rem / @basefont) auto;

    }
}
// header区域
.header{
    width: (750rem / @basefont);
    height: (180rem / @basefont);
    background-color: #ffdb47;
    .header-top{
        display: flex;
        width:(682rem / @basefont);
        height: (88rem / @basefont);
        padding: 0 (34rem / @basefont);
        justify-content:space-between;
        align-items: center;
        .classify{
            img{
                display: block;
                width: (36rem / @basefont);
                height: (60rem / @basefont);
            }
        }
        .ad{
            img{
                display: block;
                width: (450rem / @basefont);
                height: (55rem / @basefont);
                margin-right: (50rem / @basefont);
            }
        }
        .login {
            img{
                display: block;
                width: (36rem / @basefont);
                height: (60rem / @basefont);
            }
        }
    }
    .serach{
        width: (750rem / @basefont);
        height: (92rem / @basefont);
        padding: 0 (24rem / @basefont);
        box-sizing: border-box;
    }
}
