// 首页的css样式

// 导入公共的common.less文件 
@import 'common';

// body的样式
body{
    min-width: 320px;
    width: 15rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica,sans-serif;
    background: #f2f2f2;
}