/* 给body进行样式初始化 */
body{
  margin: 0 auto;
  min-width: 320px;
  max-width: 540px;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system,Helvetica,sans-serif;
}
  
*{
 /* 点击高亮我们需要清除清除 设置为 transparent 完成透明 */
-webkit-tap-highlight-color: transparent;}

/* 在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式 */
input{-webkit-appearance:none;}

/* 禁用长按页面时的弹出菜单 */
img, a { -webkit-touch-callout: none;}
