/* 初始化样式 */
body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft	Yahei", STXihei, hei;
  color: #000;
  background: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

/*点击高亮我们需要清除清除 设置为transparent 完成透明*/
* {
  -webkit-tap-highlight-color: transparent;
}

/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
input {
  -webkit-appearance: none;
}

/*禁用长按页面时的弹出菜单*/
img,
a {
  -webkit-touch-callout: none;
}

/* 搜索框 */
.serach-index {
  display: flex;
  width: 100%;
  height: 44px;
  padding-left: 12px;
  box-sizing: border-box;
  background-color: pink;
  /* 让中间的搜索框居中 */
  align-items: center;
}
.serach-index .login{
  width: 51px;
  height: 44px;
  padding-right: 4px;
  background-color: skyblue;
}
.serach-index .serach{
  flex: 1;
  height: 28px;
  padding: 2px 5px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
}

