/* 初始化样式 */
body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft	Yahei", STXihei, hei;
  color: #000;
  background: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  color: #222;
  text-decoration: none;
}

/*点击高亮我们需要清除清除 设置为transparent 完成透明*/
* {
  -webkit-tap-highlight-color: transparent;
}

/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
input {
  -webkit-appearance: none;
}

/*禁用长按页面时的弹出菜单*/
img,
a {
  -webkit-touch-callout: none;
}

/* 搜索框 */
.serach-index {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 44px;
  padding-left: 12px;
  box-sizing: border-box;
  /* 让中间的搜索框居中 */
  align-items: center;
  z-index: 20;
}
.serach-index .serach{
  flex: 1;
  height: 28px;
  padding: 2px 5px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.serach-index .serach span{
  position: relative;
  padding-left: 35px;
  line-height: 18px;
  font-size: 15px;
  color: #666;
}
.serach-index .serach span::after{
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 10px;
  top: 2px;
  background: url(../images/sprite.png) no-repeat 0px 0px;
  background-size: 21px auto;
}
.serach-index .login{
  /* 内部进行flex布局 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 44px;
  padding-right: 4px;
}

.serach-index .login::after{
  content: "";
  display: block;
  width: 22px;
  height:22px ;
  background: url(../images/sprite.png) no-repeat 0 -36px;
  background-size: 21px auto;
  order: -1;
}
.serach-index .login span{
  font-size: 12px;
  color: #fff;
  line-height: 12px;
}
/* 焦点图 */
.focus{
  position: relative;
  width: 100%;
  /* 为了实现小圆弧的效果 */
  padding: 0 25%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  /* 向左移动 */
  transform: translateX(-16.66%);
  overflow: hidden;
}
.focus a {
  display: block;
}
.focus a img{
  display: block;
  width: 100%;
}
.focus::after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0));
}
/* local-nav部分 */
.local-nav{
  display: flex;
  position: relative;
  height: 64px;
  padding: 4px 0 8px;
  margin: -52px 12px 10px;
  border-radius: 8px;
  background-color: #fff;
}
.local-nav li{
  flex: 1;
}
.local-nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.local-nav li a i {
  width: 40px;
  height: 40px;
  background: url(../images/localnav_bg.png) no-repeat 0 0 ;
  background-size: 40px auto;
}
.local-nav li a span{
  font-size: 12px;
}
.local-nav li:nth-child(2)  a i{
  background-position: 0 -40px;
}
.local-nav li:nth-child(3)  a i{
  background-position: 0 -80px;
}
.local-nav li:nth-child(4)  a i{
  background-position: 0 -120px;
}
.local-nav li:nth-child(5)  a i{
  background-position: 0 -160px;
}
/* 主导航部分 */
.nav{
  margin: 0 12px;
  border-radius: 8px;
  overflow: hidden;
}
.nav .nav-common{
  display: flex;
  border-bottom: 1px solid #fff;
  background-image: linear-gradient(to right,#4b8fed,#53bced);
}
.nav .nav-common:nth-child(3){
  border-bottom: 0;
}
.nav .nav-common a{
  padding:25.6px 0;
  line-height: 14px;
  color: #fff;
}
.nav .nav-common a:nth-child(1){
  flex: 1.347;
  padding-left: 12px;
  background: url(../images/flight.png) no-repeat right bottom;
  background-size: auto 34px;
}
.nav .nav-common a:nth-child(2){
  background: url(../images/train.png) no-repeat left bottom;
  background-size: 37px auto;
}
.nav .nav-common a:nth-child(n+2){
  flex: 1;
  text-align: center;
  border-left: 1px solid #fff;
}  
/* 添加导航中不同的样式部分 */
.nav .nav-common:nth-child(1){
  background-image: linear-gradient(to right,#fa5a56,#fb8550 56%);
}
.nav .nav-common:nth-child(1) a:nth-child(3){
  background-image: url(../images/hot_sale.png),linear-gradient(to right,#ffbc49,#ffd252);
  background-size: 161px auto;
  background-position: right botttom;
  flex:2;
  color:#a05416;
}
.nav .nav-common:nth-child(1) a:nth-child(1){
  background-image: url(../images/hotel.png);
  background-size: 73px auto;
}
.nav .nav-common:nth-child(1) a:nth-child(2){
  background-image: url(../images/minsu.png);
}

.nav .nav-common:nth-child(3){
  background-image: linear-gradient(to right,#079b47,#53b584 56%);
}
.nav .nav-common:nth-child(3) a:nth-child(1){
  background-image: url(../images/travel.png);
  background-size: 93.5px auto;
}
.nav .nav-common:nth-child(3) a:nth-child(2){
  background-image: url(../images/dingzhi.png);
  background-size:61px auto ;
}

